.App-header {
  opacity: 0;
  animation-name: fadeInAnime, randomBlink, motionBlur;
  animation-duration: 3s, 0.1s, 1s; /* blinkのdurationを0.5秒に変更 */
  animation-fill-mode: forwards;
  animation-iteration-count: 1, 7, 1, 1;
  animation-timing-function: steps(2, start); /* ステップ数とタイミング関数を設定 */
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out; /* 背景色とトランスフォームのトランジションを追加 */
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes randomBlink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  } 
  100% {
    opacity: 1;
  }
  25% {
    opacity: 0.5; /* 追加: 25%の時に0.5の不透明度 */
  }
  75% {
    opacity: 0.5; /* 追加: 75%の時に0.5の不透明度 */
  }
}

@keyframes motionBlur {
  0% {
    filter: blur(0); /* ブラーフィルターを無効にする */
  }
  50% {
    filter: blur(3px); /* ブラーフィルターを5ピクセルに設定 */
  }
  95% {
    opacity: 0.3;
  }
  100% {
    filter: blur(0); /* ブラーフィルターを無効にする */
    opacity: 1;
  }
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} 

.textarea-height {
  height: 60px;
}*/